.header {
  background-color: rgb(229, 237, 237);
  width: 90vw;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 5rem;
}
.left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.shareButton {
  width: 5rem;
  height: 2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.accountImage,
.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.lock {
  height: 1rem;
  cursor: pointer;
}


